<!DOCTYPE html>
<html>
<header>
  <title></title>
</header>

<h2>Log In</h2>
<form action="do_login" method="POST">
  {% csrf_token %}
  {%for message in messages%}
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      
      
      {{ message }}
      
    </div>
  </div>
  {% endfor %}
  <div class="form-floating mb-3">
    <input type="text" class="form-control form-control-lg" id="floatingInput" name="username" placeholder="User Name">
    <label for="floatingInput">User Name</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control form-control-lg" id="floatingPassword" name="password" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
  <button type="submit">Log In</button>
</form>
</html>